 @charset "UTF-8";


h1{
    color: blueviolet;
}
mask{
    color: rgb(226, 46, 43);
}
body{
    background-color: black;
}
h2{
    background-color: ghostwhite;
}
body{
    background-image: linear-gradient(to left, black,blue );
}


